body {
background-color: black;
color: beige;
font-family: 'Questrial', sans-serif;
}

a {
    color: #727693;
}
a:hover {
    color: beige;
    font-weight: bold;
}
.gallery-full-width {
    width: 100%;
}

.carousel-item {
    background-image: url(assets/images/mouse-cropped2-removebg-preview.png);
    height: 100vh;
    min-height: 350px;
    /* height: 500px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.about {
    background-color: #20202c;
}
.heading-container{ 
    margin-left: 20px;
}

.modal-button, .sub-button {
    background-color: #6971fa;
    height: 40px;
    width: 180px;
    color: white;
    border: none;
}

.text-blue {
    color: #6971fa;
}

.form-control {
   background-color: #242430;
   border: none;
}

label {
    font-size: large;
    color: #706e85;
    font-weight: 580;
}
