body {
color: beige;
font-family: 'Questrial', sans-serif;
}

img {
    width: 100%;
}

.about {
    background-color: #20202c;
}
.heading-container{ 
    margin-left: 20px;
}

.model {
    background-color: #6971fa;
    height: 40px;
    width: 180px;
    color: white;
    border: none;
}

.text-blue {
    color: #6971fa;
}