body {
background-color: #1f1f1f;
/* background-color: aliceblue; */
color: beige;
font-family: 'Questrial', sans-serif;
}

.gallery, .contact {
    background-color: #2a2a36;
}
a {
    color: #727693;
}
a:hover {
    color: beige;
    font-weight: bold;
}
.gallery-full-width {
    width: 100%;
}

.carousel-item {
    background-image: url(assets/images/mouse-cropped2-removebg-preview.png);
    height: 100vh;
    min-height: 350px;
    /* height: 500px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.about, .navbar {
    background-color: #20202c;
}

.modal-button {
    background-color: #5156b2;
    height: 3.75rem;
    width: 16.876rem;
    color: #ffff;
    border: none;
}

.text-blue {
    color: #6971fa;
}

.heading-container {
    font-size: 1.25rem;
    /* font-size: 20px; */
}

.form-control:focus {
    border:1px solid #424471;
    background-color: #2a2a36 ;
    color: #ffff;
    border-radius: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(66, 68, 113, 1);
}

.form-control {
    background-color: #242430;
    box-shadow: none;
    border-radius: 0;
    border: none;    
}

label {
    font-size: large;
    color: #706e85;
    font-weight: 580;
}

.sub-button {
    height: 3.75rem;
    width: 10.625rem;
    background-color: #5156b2;
    color: #ffff;
    border-radius: 0;
    font-size: 1.25rem;
    text-align: center;

}

.text-paragraph {
    font-size: 1.25rem;
    /* font-size: 20px; */
}
.contact-heading {
    font-size: 1.625rem;
    /* font-size: 26px; */
}

/* input[type=text] {
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
   
  } */

/* input[type=text]:focus {
    border: 3px solid ;
    
  } */
nav .navbar {
    height: 70px;
    /* font-size: 18px; */
}

